<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Enable" value="True" />
        <add key="IntervalSec" value="0" />
        <add key="IntervalMinute" value="30" />
        <add key="IntervalHours" value="0" />
        <add key="LastRun" value="2022/03/15 13:52:00" />
        <add key="ModbusAddress" value="10.22.193.9" />
        <add key="ModbusPort" value="5011" />
        <add key="slaveAddress" value="1" />
        <add key="startAddress" value="0" />
        <add key="numberOfPoints" value="2" />
        <add key="functionCode" value="03 Read Holding Registers" />
        <add key="EqpCode" value="1011" />
        <add key="EqpName" value="温湿度表11" />
        <add key="TemperatureUpLimit" value="28" />
        <add key="TemperatureLowerLimit" value="20" />
        <add key="HumidityUpLimit" value="75" />
        <add key="HumidityLowerLimit" value="45" />
    </appSettings>
</configuration>