<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Enable" value="False" />
        <add key="IntervalSec" value="1" />
        <add key="IntervalMinute" value="0" />
        <add key="IntervalHours" value="0" />
        <add key="LastRun" value="2021/12/30 15:49:26" />
    </appSettings>
</configuration>