<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
		<section name="ServiceEntities" type="BOE.Service.EquipmentData.ServiceEntitySectionHandler, BOE.Service.EquipmentData" />	
	</configSections>
	<connectionStrings>
		<add name="EqpAcqFramework_SqlServer" connectionString="Server=10.22.21.216;Initial Catalog=BOE_EquipmentAcq;User ID=sa;Password=Boe123" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<ServiceEntities>
		<!--Key:唯一值，与配置文件名称一致；
        JobType：任务类型，取Job类名，配置文件夹名称；
         JobName:显示的名称；--> 
		<ServiceEntity Key="EQP1001" JobType="TemperatureAndHumidityJob" JobName="温湿度采集01"></ServiceEntity>
		<ServiceEntity Key="EQP1002" JobType="TemperatureAndHumidityJob" JobName="温湿度采集02"></ServiceEntity>
		<ServiceEntity Key="EQP1003" JobType="TemperatureAndHumidityJob" JobName="温湿度采集03"></ServiceEntity>
		<ServiceEntity Key="EQP1004" JobType="TemperatureAndHumidityJob" JobName="温湿度采集04"></ServiceEntity>
		<ServiceEntity Key="EQP1005" JobType="TemperatureAndHumidityJob" JobName="温湿度采集05"></ServiceEntity>
		<ServiceEntity Key="EQP1006" JobType="TemperatureAndHumidityJob" JobName="温湿度采集06"></ServiceEntity>
		<ServiceEntity Key="EQP1007" JobType="TemperatureAndHumidityJob" JobName="温湿度采集07"></ServiceEntity>
		<ServiceEntity Key="EQP1008" JobType="TemperatureAndHumidityJob" JobName="温湿度采集08"></ServiceEntity>
		<ServiceEntity Key="EQP1009" JobType="TemperatureAndHumidityJob" JobName="温湿度采集09"></ServiceEntity>
		<ServiceEntity Key="EQP1010" JobType="TemperatureAndHumidityJob" JobName="温湿度采集10"></ServiceEntity>
		<ServiceEntity Key="EQP1011" JobType="TemperatureAndHumidityJob" JobName="温湿度采集11"></ServiceEntity>
		<ServiceEntity Key="EQP1012" JobType="TemperatureAndHumidityJob" JobName="温湿度采集12"></ServiceEntity>
		<ServiceEntity Key="EQP1013" JobType="TemperatureAndHumidityJob" JobName="温湿度采集13"></ServiceEntity>
	</ServiceEntities>
	
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志路径-->
			<param name="File" value="C:\log\" />
			<!--是否是向文件中追加日志-->
			<param name="AppendToFile" value="true" />
			<!--log保留天数-->
			<param name="MaxSizeRollBackups" value="10" />
			<!--日志文件名是否是固定不变的-->
			<param name="StaticLogFileName" value="false" />
			<!--日志文件名格式为:2008-08-31.log-->
			<param name="DatePattern" value="yyyy-MM-dd_HH&quot;.log&quot;" />
			<!--日志根据日期滚动-->
			<param name="RollingStyle" value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>